.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: lightblue !important;

    &-form {
        display: flex;
        flex-direction: column;
        margin: 11.5% auto;
        width: fit-content;
        min-width: 30%;
        height: 500px;
        background-color: white;
        border: 1px solid white;
        border-radius: 5px;
    }

    &-header {
        position: relative;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 32px;
        margin: 15px;
    }

    &-padding {
        padding: 0 10px;
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-top: auto;
    }
}

.image {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background-color: transparent;
}
