<div class="login">
    <div class="login-form">
        <!-- <img src="../../assets/santa-hat.png" style="background-color: transparent;" alt="santa hat"> -->
        <div class="login-header">
            Secret Santa Login
        </div>
        <form [formGroup]="form" class="login-padding">
            <div class="form-group">
                <div *ngIf="incorrectLogin" 
                    class="alert alert-danger" 
                    role="alert">
                    Incorrect username or password
                </div>
                <div *ngIf="success"
                    class="alert alert-success"
                    role="alert">
                    Welcome {{ name }}
                </div>
                <label for="username">Username</label>
                <input 
                    placeholder="Enter Email" 
                    type="text" 
                    class="form-control" 
                    formControlName="username"
                />
                <div *ngIf="submitted && form.controls.username.errors" 
                    class="alert alert-danger" 
                    role="alert">
                    Username Required
                </div>
            </div>
            <div class="form-group">
                <label for="passowrd">Password</label>
                <div class="input-group">
                    <input 
                            placeholder="Enter Password" 
                            [type]="showPass ? 'text' : 'password'" 
                            class="form-control" 
                            formControlName="password"
                        />
                    <div class="input-group-append">
                        <span (click)="showPassword()" class="input-group-text">
                            <fa-icon *ngIf="!showPass" [icon]="eyeSlash"></fa-icon>
                            <fa-icon *ngIf="showPass" [icon]="eye"></fa-icon>
                        </span>
                    </div>
                </div>
                <div *ngIf="submitted && form.controls.password.errors" 
                    class="alert alert-danger" 
                    role="alert">
                    Password Required
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" 
                    type="button" 
                    class="btn btn-primary btn-lg btn-block" 
                    (click)="onSubmit()">
                    <span *ngIf="loading"
                         class="spinner-border spinner-border-sm mr-1">
                    </span>
                    Login
                </button>
                <button routerLink="/create-user" 
                    routerLinkActive="active" 
                    type="button" 
                    class="btn btn-secondary btn-lg btn-block">
                    Create Account
                </button>
            </div>
        </form>
        <div>
            <a href="" 
                (click)="loginGuest()"
                routerLink="/groups"
                routerLinkActive="active"
                class="login-guest">
                Sign in as Guest
            </a>
            <a class="login-forgot">
                Forgot password
            </a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>