.groups {
    display: flex;
    flex-wrap: wrap;
}

.button-group {
    display: flex;
    margin: 0 10px 10px 10px;
    &-button {
        margin-right: 10px;
    }
}

.alerts {
    margin: 0 10px;
}

.add-code {
    width: 0;
    opacity: 0;
    transition: width 1s, opacity 1s ease-in-out;

    &__show {
        width: 150px;
        opacity: 1;
        transition: width 1s, opacity 1s ease-in-out;
    }
}

.ellipse {
    position: relative;
    float: right;
}

::ng-deep {
    html {
        background-color: white !important;
    }

    .card {
        margin: 0 10px 10px 10px;
    }
} 