.signup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px 0;

    &-form {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -375px;
        margin-left: -250px;
        width: 500px;
        height: fit-content;
        background-color: white;
        border: 1px solid white;
        border-radius: 5px;
    }

    &-header {
        position: relative;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 32px;
        padding-top: 10px;
    }

    &-padding {
        padding: 0 10px;
    }
}

html {
    background-color: lightblue;
}
