<mat-drawer-container class="add-group-container">
    <mat-drawer position="end" [(opened)]="open" (closed)="closePanel()" #drawer class="add-group-sidenav" mode="push">
        <div class="add-group-header">
            Create a group
        </div>
        
        <form class="add-group=form" [formGroup]="groupForm">
            <div *ngIf="submitted && success" 
                class="alert alert-success" 
                role="alert">
                Group created successfully!
            </div>
            <div *ngIf="submitted && failed" 
                class="alert alert-danger" 
                role="alert">
                Group was not created, please try again later.
            </div>
            <div *ngIf="submitted && groupForm.controls.groupName.errors" 
                class="alert alert-danger" 
                role="alert">
                You must name your group
            </div>
            <div class="form-group">
                <label for="groupName">Group Name</label>
                <input formControlName="groupName" type="text" class="form-control" id="groupName" placeholder="Enter group name">
            </div>
            <div *ngIf="submitted && groupForm.controls.description.errors" 
                class="alert alert-danger" 
                role="alert">
                Please add a description to your group
            </div>
            <div class="form-group">
                <label for="description">Group Description</label>
                <textarea formControlName="description" class="form-control" id="description" placeholder="Group Description"></textarea>
            </div>
            <button type="submit" (click)="createGroup()" class="btn btn-primary">Submit</button>
    </form>
    </mat-drawer>
</mat-drawer-container>